body, html {
    scroll-snap-type: y mandatory;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.result {
    width: 100%;
    max-width: 1500px;
    transform: translateY(8vh);
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20rem;
    background-color: #242526;
}

.fadeTop, .fadeBottom {
    position: fixed;
    pointer-events: none;
    z-index: 1;
    height: 15rem;
    width: 100%;
}

.fadeTop {
    top: 4rem;
    background-image: linear-gradient(
        rgba(36, 37, 38, 1),
        rgba(36, 37, 38, 0.1)
    );
}

.fadeBottom {
    bottom: 0;
    background-image: linear-gradient(
        rgba(36, 37, 38, 0.1),
        rgba(36, 37, 38, 1)
    );
}
