.standardWindow {
    margin-bottom: 18rem;
    font-family: Nunito;
}

.overallWindow {
    margin-bottom: 30rem;
    font-family: Nunito;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px !important;
    padding: 1rem;
    margin-bottom: 2rem;
}

.graph {
    scroll-snap-align: center;
}

.accordion {
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px !important;
}

.accordion::before {
    background-color: rgb(30, 30, 31) !important;
    height: 2px !important;
}

.accordionContent {
    scroll-snap-align: center;
}

.partnered {
    float: left;
    font-size: large;
}

.partneredText {
    position: relative;
    display: inline-block;
    top: 0.1rem;
    margin: auto 0.4rem;
}

.timestamp {
    float: right;
}

.rowContainer {
    display: flow-root;
    height: fit-content;
}

.overallText {
    text-align: center;
    margin-bottom: 1rem;
}

.overallText > * {
    display: inline-flex;
    vertical-align: middle;
    margin-left: 1rem;
}

.expand {
    margin: 0 auto;
}
